* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
}

/* =========================
   NAVBAR
========================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 45px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo i {
    font-size: 32px;
    color: #4f46e5;
}

.logo h2 {
    font-size: 28px;
    font-weight: 700;
    color: #4f46e5;
}

#theme-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

#theme-btn i {
    background: transparent !important;
}

#theme-btn:hover {
    transform: rotate(20deg);
}

/* =========================
   MAIN CONTAINER
========================= */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

/* =========================
   SUMMARY CARDS
========================= */

.summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid #e2e8f0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.card h1 {
    font-size: 34px;
    color: #64748b;
    margin-top: 10px;
}

.card h2 {
    color: #64748b;
    margin-top: 15px;
    font-size: 25px;
}

.card h3 {
    color: #64748b;
}

.balance-card h1 {
    font-size: 34px;
    color: #4f46ef;
}

.income-card h2 {
    color: #22c55e;
}

.expense-card h2 {
    color: #ef4444;
}

.transaction-card h2 {
    color: #06b6d4;
}

/* =========================
   ADD TRANSACTION
========================= */

.add-transaction {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-transaction h2 {
    margin-bottom: 20px;
}

.add-transaction form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* =========================
   INPUTS & SELECTS
========================= */

input,
select {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #cbd5e1;
    margin-bottom: 18px;
    font-size: 16px;
    font-family: inherit;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid #2563eb;
    box-shadow: 0 0 10px rgba(37, 99, 235, 0.3);
}

/* =========================
   ADD TRANSACTION BUTTON
========================= */

#transaction-form button {
    background-color: #4f46ef;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: inherit;
}

#transaction-form button:hover {
    background: #3730a3;
    transform: translateY(-2px);
}

/* =========================
   SEARCH & FILTER
========================= */

.search-filter {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

/* =========================
   TRANSACTIONS
========================= */

.transactions {
    margin-top: 30px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

#transaction-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.empty-state {
    text-align: center;
    padding: 40px;
    color: rgb(114, 114, 114);
}

.empty-state h3 {
    margin: 10px 0;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
    background: white;
    border: 1px solid #e2e8f0;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
}

.transaction:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.transaction h3 {
    display: inline-block;
    margin: 0;
    font-size: 22px;
    color: #222;
}

.transaction p {
    display: inline-block;
    margin: 5px 0;
    color: #535252;
}

.transaction small {
    display: block;
    color: #777777;
}

.transaction strong {
    font-size: 26px;
    color: #2563eb;
}

.transaction span {
    color: #666;
    font-size: 14px;
}

.transaction-right {
    margin: 10px;
    text-align: right;
}

/* =========================
   TRANSACTION BUTTONS
========================= */

.delete-btn {
    margin-top: 20px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background: #ef4444;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background: #d62626;
}

.edit-btn {
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.edit-btn:hover {
    background: #1d4ed8;
}

/* =========================
   TRANSACTION TYPES
========================= */

.income {
    color: #16a34a;
}

.expense {
    color: #ef4444;
}

/* =========================
   CHART
========================= */

.chart-card {
    margin-top: 30px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.chart-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.chart-container {
    width: 100%;
    max-width: 450px;
    height: 350px;
    margin: auto;
}

/* =========================
   FOOTER
========================= */

.footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.footer p {
    color: black;
}

.footer strong {
    color: #0470fe;
}

/* =========================
   SCROLLBAR
========================= */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 10px;
}
